<%-include('header')-%>
<li id="contact"><a href="#"><%= pageName%></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container admin">
    <h1>Make your poll here:</h1>
    <form action="/admin" method="POST" enctype="multipart/form-data" class="poll-form">
    <input type="text" name="ques" placeholder="Enter your question here.">
    <input type="text" name="op1" placeholder="Option 1">
    <input type="text" name="op2" placeholder="Option 2">
    <input type="text" name="op3" placeholder="Option 3">
    <label for="file">Choose files containing voters' email list in .txt:</label>
    <input type="file" placeholder="Choose a file to upload" name="file" required>

    
    <button type="submit">Make a Poll</button>
    </form>


<%- include('footer')-%>