<%- include('header')-%>
<li id="contact"><a href="#">Result</a></li>
        </ul>
    </div>
  </nav>

  <body>

    <h1>Wrong Code , Retry <a href="http://localhost:3000">Here</a></h1>

<%- include('footer')-%>